@page "/create"
@using System.Text;
@using Newtonsoft.Json
@inject IConfiguration configuration
@inject NavigationManager navigationManager
@inject HttpClient client
@inject ILogger<Create> logger

<h1>Создать запись в таблице "Buildings".</h1>

<EditForm Model="@Model" class="row">
    <div class="row">
        <label class="col">Геометрия: </label>
        <InputText @bind-Value="Model.Geom" class="col" />
    </div>

    <div class="row">
        <label class="col">Адрес: </label>
        <InputText @bind-Value="Model.Address" class="col" />
    </div>

    <button @onclick="Send" type="submit">Submit</button>
</EditForm>

@code {
    private Building Model { get; set; }
    protected override void OnInitialized()
    {
        Model = new Building();
        base.OnInitialized();
    }
    private async void Send()
    {
        var request = new HttpRequestMessage(HttpMethod.Post, configuration["apiUrl"]);
        request.Content = new StringContent(JsonConvert.SerializeObject(Model), Encoding.UTF8, "application/json");
        try
        {
            var response = await client.SendAsync(request);
            logger.LogInformation($"POST response status: {response.StatusCode}");
        }
        catch(Exception ex)
        {
            logger.LogError("Create page Send method occured error");
            throw ex;
        }
        navigationManager.NavigateTo("/");
    }
}
