@page "/create"
@using System.Text;
@using Newtonsoft.Json
@using QGISBlazorWebAssemblyApplication.Models;
@inject IConfiguration configuration
@inject NavigationManager navigationManager
@inject HttpClient client
@inject ILogger<Create> logger

<h1>Создать запись в таблице "Buildings".</h1>

<EditForm Model="@Model" class="row">
    <div class="row">
        <label class="col">Геометрия: </label>
        <InputFile @bind-Value="Model.Geom" class="col" />
    </div>

    <div class="row">
        <label class="col">Адрес: </label>
        <InputText @bind-Value="Model.Address" class="col" />
    </div>

    <button @onclick="Send" type="submit">Submit</button>
</EditForm>

@code {
    private Building Model { get; set; } = new Building();
    private async void Send()
    {
        using (var req = new HttpRequestMessage(HttpMethod.Get, $"{configuration["apiUrl"]}{1}"))
        {
            var response = await client.SendAsync(req);
            Model = JsonProcessor<Building>.Parse(await response.Content.ReadAsStringAsync());
        }
        var request = new HttpRequestMessage(HttpMethod.Post, configuration["apiUrl"]);
        var tmp = JsonProcessor<Building>.ConvertToGeoJson(Model);
        request.Content = new StringContent(tmp, Encoding.UTF8,
                                    "application/json");
        logger.LogInformation(tmp);
        try
        {
            var response = await client.SendAsync(request);
            logger.LogInformation($"POST response status: {response.StatusCode}");
        }
        catch (Exception ex)
        {
            logger.LogError("POST page Send method occured error");
            logger.LogError(ex.Message);
            throw ex;
        }
        navigationManager.NavigateTo("/");
    }
}
