@page "/create"
@inject IConfiguration configuration
@inject NavigationManager navigationManager
@inject HttpClient client
@inject ILogger<Create> logger

<h1>Создать запись в таблице "Buildings".</h1>

<EditForm Model="@_model" class="row">
    <div class="row">
        <label class="col">Геометрия: </label>
        <InputTextArea @bind-Value="_geometryAsText" class="col" />
    </div>

    <div class="row">
        <label class="col">Адрес: </label>
        <InputText @bind-Value="_model.Address" class="col" />
    </div>

    <button @onclick="Send" type="submit">Submit</button>
</EditForm>

@code {
    private Building _model { get; set; } = new Building();
    private string _geometryAsText { get; set; }
    private async void Send()
    {

        _model.Geom = JsonProcessor<Geometry>.Parse(_geometryAsText);
        var request = new HttpRequestMessage(HttpMethod.Post, configuration["apiUrl"]);
        request.Content = new StringContent(
            JsonProcessor<Building>.ConvertToGeoJson(_model),
            Encoding.UTF8,
            "application/json");
        try
        {
            var response = await client.SendAsync(request);
            logger.LogInformation($"POST response status: {response.StatusCode}");
        }
        catch (Exception ex)
        {
            logger.LogError("POST page Send method occured error");
            logger.LogError(ex.Message);
            throw ex;
        }
        navigationManager.NavigateTo("/");
    }
}
